body {
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    padding: 0;
    background-image: url('/image/messironaldo.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container, .header, .card {
    background-color: rgba(255, 255, 255, 0.85);
    opacity: 0.90;
    color: #000;
    border-radius: 8px;
}

.header {
    color: black;
    opacity: 0.70;
    font-size: 1.5rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#left-visualization {
    background-color: rgba(0, 123, 255, 0.1);
    border: 5px solid rgba(0, 123, 255, 0.1);
}

#right-visualization {
    background-color: rgba(255, 0, 0, 0.1);
    border: 5px solid rgba(255, 0, 0, 0.1);
}

.card {
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(12, 216, 12, 0.1),
                0 2px 4px rgba(12, 216, 12, 0.1);
}

svg {
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    padding-left: 100px;
}